/* MAIN */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Noto+Sans+JP:wght@300;500&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #72caab;
    height: 100vh; 
}

.poke-details {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* MAIN */

/* BODY */
.title {
    display: flex;
    flex-direction: row;
    color: #EFEFEF;
    background: #DC0A2D;
    border-radius: 5px;
    width: 60%;
    border: 5px solid #EFEFEF;
    border-radius: 15px;
}
/* BODY */

/* HOME */
/* BUTTON HOME */
.button-home {
    display: flex;
    border: none;
    background: none;
    align-items: center;
    cursor: pointer;
}

.button-home a {
    text-decoration: none;
    color: white;
    display: flex;
    margin-left: 100%;
}

.title h1 {
    display: flex;
    align-items: center;
    margin-top: -10px;

}

.title h2 {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: -50px;
    margin-top: 30px;
}
/* BUTTON HOME */

/* BUTTON NEXT/PREV */
.buttons {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    left: 55%;
    top: 20px;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 65%;
  }
  
  .prev {
    width: 10%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    cursor: pointer;
}

.next {
    width: 10%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    cursor: pointer;
}
/* BUTTON NEXT/PREV */
/* HOME */

/* DETEILS */
.details {
    display: flex;
    margin-left: 20%;
    margin-top: 5px;

    background: #DC0A2D;
    color: #EFEFEF;
    border: 5px solid #EFEFEF;
    border-radius: 15px;
   
    width: 60%;
    height: 85%;
}

/* TITLE */
.title-details {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 20%;
    font-size: 15px;
    gap: 10px;
    margin-top: -5px;
}

.details-title {
    display: flex;
    flex-direction: row;
    color: #EFEFEF;
    margin-left: 30%;
}

.details-title h1 {
    display: flex;
    align-items: center;
    margin-top: -10px;

}

.details-title h2 {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: -90px;
    margin-top: 30px;
}

.number {
    font-weight: 600;
    font-size: 25px;
    color: #EFEFEF;
}
/* TITLE */

/* IMG */
.pokemon-img {
    width: 50%;
    height: 90%;

    margin-top: 40px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #EFEFEF;
    border-radius: 5px;
    background: url(/IMG/background.png);
    background-size: cover;

}

.pokemon-img img {
    width: 50%;
}
/* IMG */

/* TEXT */
.details-txt {
    width: 50%;
    height: 90%;
    margin-top: 40px;
}

.txt {
    text-align: center;
}
/* TEXT */

/* TYPE */
.type {
    color: #EFEFEF;
    font-size: 15px;
    font-weight: 600;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 15px;
    border-radius: 10px;
}
/* TYPE */

/* STATUS */
.status {
    background: #DC0A2D;
    border: 2px solid #EFEFEF;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    list-style: none;
}

.status-txt h1 {
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.status-txt {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    gap: 8px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.weaknesses {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 55px;
    margin-top: 15px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 15px;
    border-radius: 10px;
}

.evolution {
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.evolution i {
    display: flex;
    font-size: 30px;
    align-items: center;
}

.evolution img:nth-of-type(1n) {
    background: url(/IMG/background.png);
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #EFEFEF;
}

.evolution img:nth-of-type(2n) {
    background: url(/IMG/background.png);
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #EFEFEF;
}

.evolution img:nth-of-type(3n) {
    background: url(/IMG/background.png);
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #EFEFEF;
}
/* STATUS */
/* DETEILS */